<h1>Editing info</h1>

<%= error_messages_for :info %>

<% form_for(@info) do |f| %>
  <p>
    <b>Subjek</b><br />
    <%= f.text_field :subjek %>
  </p>

  <p>
    <b>Body</b><br />
    <%= f.text_area :body %>
  </p>

  <p>
    <b>Posted at</b><br />
    <%= f.datetime_select :posted_at %>
  </p>

  <p>
    <b>Author</b><br />
    <%= f.text_field :author %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @info %> |
<%= link_to 'Back', infos_path %>
